@charset "UTF-8";
@media screen and (min-width:330px) { 
* { padding:0px; margin:0px; box-sizing:border-box;}
:root
        { 
            --background_color:#17282F;
            --yellow_color:#E1CC66;
            --main-font:'ex_01';
            --sub-main-font:'ex_02';
            --font-carmen-semi-bold:'ex_05';
            --font-carmen-bold:'ex_03';
            --font-carmen-heavy:'ex_04';
            --main-white-color:#ffffffb8;
        }

@font-face { font-family:'ex_01'; src: url(/fonts/carmen-sans-cufonfonts/Carmen\ Sans\ ExtraBold.otf) format(opentype);  }
@font-face { font-family:'ex_02'; src: url(/fonts/nexa-book/nexa-book.ttf) format(truetype);  }
@font-face { font-family:'ex_03'; src: url(/fonts/carmen-sans-cufonfonts/Carmen\ Sans\ Bold.otf) format(opentype);  }
@font-face { font-family:'ex_04'; src: url(/fonts/carmen-sans-cufonfonts/Carmen\ Sans\ Heavy.otf) format(opentype);  }
@font-face { font-family:'ex_05'; src: url(/fonts/carmen-sans-cufonfonts/Carmen\ Sans\ SemiBold.otf) format(opentype);  }

header > img { margin:auto; display:block; }

header > menu > a > img { width:28px; position:relative; left:16px; top:-228px; }

main {  height:12em; border:1px solid black;  }

main > h1 { font-family:var(--font-carmen-bold); text-align:center; font-size:25px; color:var(--background_color); letter-spacing:-1px; }

body { background-color:white; height:102vh; }

form > fieldset { width:300px;  display:block; margin:auto; padding:3px; margin-top:17px ; border-radius:5px; border:2px solid gray; }

form > fieldset > legend { padding-left:4px; padding-right:4px; font-family:var(--main-font); font-size:10px; color:gray; }

fieldset > input { border: 2px solid transparent; height:30px; min-width:300px; position:relative; bottom:3px; border-radius:2px;}

#iemail { font-size:17px; padding-left:10px; }
    #ipassword { font-size:17px; padding-left:10px; }
    #icheckbox { }

section { height:10em; margin-top:5px;  display:flex; flex-direction:column; justify-content:center; align-items:center; border: 1px solid black;}

div.child {  width:100vw; height:2em; ; text-align: center; border: 1px solid black; }


}