@media only screen and (min-width:430px) { 

    * { padding:0px; margin:0px; color:black; font-family:sans-serif;  }
    
:root 
        {
            --league_spartan_bold:'font-1';
            --monserrant_main:'font-2';
        }
    
@font-face { font-family:'font-1'; src: url(/Login_Page/fonts/league_spartan/LeagueSpartan-Bold.ttf) format('truetype'); }
@font-face { font-family:'font-2'; src: url(/Login_Page/fonts/montserrant_classic/Montserrat-VariableFont_wght.ttf) format('truetype'); }

body { height:100vh; background-image:url(/Login_Page/Images/ocean.jpg); background-size:cover; background-repeat: no-repeat; }
    
div#box_container { position:absolute; top:50%; left:50%;  translate: -50% -50%; background-color: rgb(0, 0, 0, 0.470); height:37em; width:20em; border-radius:10px; }

img#gif { width:170px; position:absolute; top:23%; left:50%;  translate: -50% -50%; }
img#apple-logo { width:70px; position:absolute; top:490px; left:45px; }
img#google-logo { width:39px; position: absolute; top:510px; left:228px; }

#login_h2 { font-family: var(--league_spartan_bold); position: absolute; top:12.2em; left:1.1em; letter-spacing:1.6px; color:#dfe3e8; 
            font-size:20px;    }

input#iname { position:absolute; top:48%; left:50%; translate: -50%; width:270px; height: 40px; background-color:#dfe3e8;
    border-radius:10px; border:1px solid transparent;}

input#iusername { position:absolute; top:58%; left:50%; translate: -50%; width:270px; height:40px; background-color:#dfe3e8; 
                    border-radius:10px; border:1px solid transparent;  }

input#ipassword { position:absolute; top:68%; left:50%; translate: -50%; width:270px; height: 40px; background-color:#dfe3e8;
                    border-radius:10px; border:1px solid transparent;}

input { font-size:17px; padding-left:10px;}

::placeholder { font-family:sans-serif, Verdana, Geneva, Tahoma; font-weight: 700;  }

input#ifinish { width:130px; height: 30px; position:absolute; top:82%; left:50%; translate: -50% -50%; background-color:#dfe3e8; border-radius:8px; border:1px solid transparent; }


}